{% extends 'base.html' %}
{% block title %}Todo List{% endblock title %}

{% block content %}
<main>
    <h1>Lists</h1>
    <a href="{% url 'todo_list_create' %}">Create a New List</a>
    <a href="{% url 'todo_item_create' %}">Create a New Item</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            {% for list in todolist_list %}
            <tr>
                <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                <td>{{ list.items.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
    
{% endblock content %}